.navb {
  margin-left: 100px;
  border-bottom: 1px solid black;
  background: #FBFBFB;
  padding-bottom: 20px;
  padding-top: 28px;
}

.search-text {
  border:none;
  background:transparent ;
}

.search-text:focus {
  box-shadow: none;
}

.form {
  border-left: 1px solid #2D2D2D;
  opacity: 0.4;
  color: #2D2D2D;
}

.fcmb {
  font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
font-weight: bold;
/* Dark-blue */

color: #03293D;
}
.d-menu:focus {
  box-shadow: none !important;
}
.t-nav-mail {
  font-size: 10px;
  line-height: 14px;
  color: #23B3E8;
  
}

@media (max-width: 991px) {
  #navb-visi {
    margin-left: 100px;
  }

  #navb-nonvisi {
    margin-left: initial;
  }
  .navb {
    padding-bottom: 30px;
    padding-top: 40px;
 

  }
  
}

