.test-cases-wrapper li {
  list-style: none;
}

.test-cases-wrapper ul {
  overflow-y: scroll;
  height: 374px;
  overflow-x: hidden;
  border-bottom: none !important;
}

.db-menu {
  width: 168px !important;
  height: 210px !important;
}

.list-group-item {
  border:none !important;
}

.test-cases-wrapper ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #c4c4c4;
	-webkit-box-shadow: inset 0 0 6px #c4c4c4;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.test-cases-wrapper ul::-webkit-scrollbar {
	width: 3px;
}

.test-cases-wrapper ul::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #c4c4c4;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #c4c4c4;
}

.dropdown-card {
  border: none;
  padding: 10px;
}

.dropdown-form {
  background: #e8e7ea;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.button {
  background: transparent;
  border: none;
  padding: 10px;
}

.button:focus {
  border: none;
  outline: none ;
  box-shadow: none;
}

.new-test-btn {
  background: #23b3e8;
  border: 2px solid rgba(26,12,47,.1);
  color: #fff;
  width: 145px;
}

.new-test-btn:hover {
  background: #fff;
  border: 2px solid #23b3e8;
  color: #23b3e8;
  width: 145px;
}

.test-btn {
  background: #fff;
  border: 2px solid #03293d;
  color: #03293d;
  width: 145px;
}

.test-btn:hover {
  background: #03293d;
  border: 2px solid rgba(26,12,47,.1);
  color: #fff;
  width: 145px;
}