
.logo-wrapper {
  padding-top: 20px;
  padding-bottom: 5px;
}

.nav-circles {
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 10px;
}

#sidebar {
  background: #052231;
  position: fixed;
  min-height: 100vh;
  width: 100px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .3s;
}


.mm {
  padding-bottom: 20px;
  padding-top: 10.5px;
}

.bottom {
  position:absolute;
  left:15px;
  bottom:20px;
  }

.sidebar-nonvisi {
    transform: translateX(-300px);
  }

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100px;               
  background-color:#E8E7EA;
  height: 1px !important;
  opacity: 0.1;
}

